<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.hysupermarket.mapper.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.alan.hysupermarket.pojo.OrderItem">
    <id column="ID" jdbcType="DECIMAL" property="ID" />
    <result column="PID" jdbcType="DECIMAL" property="PID" />
    <result column="OID" jdbcType="DECIMAL" property="OID" />
    <result column="U_ID" jdbcType="DECIMAL" property="u_ID" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="QUANTITY" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PID, OID, U_ID, QUANTITY
  </sql>
  <select id="selectByExample" parameterType="com.alan.hysupermarket.pojo.OrderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from HY_ORDERITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HY_ORDERITEM
    where ID = #{ID,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from HY_ORDERITEM
    where ID = #{ID,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="ID" parameterType="com.alan.hysupermarket.pojo.OrderItem" useGeneratedKeys="true">
    insert into HY_ORDERITEM (PID, OID, U_ID, 
      QUANTITY)
    values (#{PID,jdbcType=DECIMAL}, #{OID,jdbcType=DECIMAL}, #{u_ID,jdbcType=DECIMAL}, 
      #{QUANTITY,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="ID" parameterType="com.alan.hysupermarket.pojo.OrderItem" useGeneratedKeys="true">
    insert into HY_ORDERITEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="PID != null">
        PID,
      </if>
      <if test="OID != null">
        OID,
      </if>
      <if test="u_ID != null">
        U_ID,
      </if>
      <if test="QUANTITY != null">
        QUANTITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="PID != null">
        #{PID,jdbcType=DECIMAL},
      </if>
      <if test="OID != null">
        #{OID,jdbcType=DECIMAL},
      </if>
      <if test="u_ID != null">
        #{u_ID,jdbcType=DECIMAL},
      </if>
      <if test="QUANTITY != null">
        #{QUANTITY,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alan.hysupermarket.pojo.OrderItem">
    update HY_ORDERITEM
    <set>
      <if test="PID != null">
        PID = #{PID,jdbcType=DECIMAL},
      </if>
      <if test="OID != null">
        OID = #{OID,jdbcType=DECIMAL},
      </if>
      <if test="u_ID != null">
        U_ID = #{u_ID,jdbcType=DECIMAL},
      </if>
      <if test="QUANTITY != null">
        QUANTITY = #{QUANTITY,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{ID,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alan.hysupermarket.pojo.OrderItem">
    update HY_ORDERITEM
    set PID = #{PID,jdbcType=DECIMAL},
      OID = #{OID,jdbcType=DECIMAL},
      U_ID = #{u_ID,jdbcType=DECIMAL},
      QUANTITY = #{QUANTITY,jdbcType=DECIMAL}
    where ID = #{ID,jdbcType=DECIMAL}
  </update>
</mapper>